<section *ngIf="sticker; else noSticker">
  <section class="row">
    <div class="col-sm-6">
      <h1>{{ sticker.metaSticker?.code }}</h1>
      <hr />
      <p>{{ sticker.metaSticker?.name }}</p>
    </div>
  <div class="col-sm-6">
    <h2>Details</h2>
    <p>Amount: {{ sticker.amount }}</p>
    Status: {{ sticker.status }}
  </div>
</section>

<div class="row">
  <h2>Update data</h2>
  <form></form>
</div>
<a [routerLink]="['/dashboard']">Go to dashboard</a>
</section>

<ng-template #noSticker>
  <p>Sorry this sticker doesn't exists</p>
  <a [routerLink]="['/dashboard']">Go to dashboard</a>
</ng-template>
