<div class="row">
  <section
    *ngIf="user?.isAdmin"
    class="admin-section col-9 col-md-10 col-lg-11"
  >
    <p>Hello admin!</p>
    <a [routerLink]="['/admin']" mat-raised-button color="warn">
      Go to the panel
    </a>
  </section>
  <section
    class="logout-section"
    [ngClass]="{
      'col-3 col-md-2 col-lg-1 with-admin': user?.isAdmin
    }"
  >
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </section>
</div>
<section class="main-section">
  <p class="welcome-text">Welcome {{ user?.name }} to the app!</p>
  <app-search-bar></app-search-bar>

  <h2>Pending stickers</h2>
  <section class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let sticker of pendingStickers">
      <div class="card m-2">
        <div class="card-header">
          {{ sticker.metaSticker?.code }}
        </div>
        <div class="card-body">
          <ul>
            <li>Name: {{ sticker.metaSticker?.name }}</li>
            <li>Status: {{ sticker.status }}</li>
            <li>Amount: {{ sticker.amount }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
