.welcome-text{
  font-size: 25px;
}

.admin-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.main-section {
  padding: 30px 15px;
}

.logout-section{
  display: flex;
  justify-content: flex-end;
  
  &.with-admin {
    padding: 20px 0px;
  }

}