<div class="row">
  <section
    *ngIf="user?.isAdmin"
    class="admin-section col-9 col-md-10 col-lg-11"
  >
    <p>Hello admin!</p>
    <a [routerLink]="['/admin']" mat-raised-button color="warn">
      Go to the panel
    </a>
  </section>
  <section
    class="logout-section"
    [ngClass]="{
      'col-3 col-md-2 col-lg-1 with-admin': user?.isAdmin
    }"
  >
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </section>
</div>
<section class="main-section">
  <p class="welcome-text">Welcome {{ user?.name }} to the app!</p>
  <app-sticker-search-bar [type]="'ALL'"></app-sticker-search-bar>

  <h4 class="text-center">Main stats:</h4>
  <div class="d-sm-flex justify-content-between">
    <p>
      <span class="fw-bold">Pending stickers:</span> {{ totalPendingStickers }}
    </p>
    <p>
      <span class="fw-bold">Provided stickers: </span>
      {{ totalProvidedStickers + totalRepeatedStickers }}
    </p>
    <p>
      <span class="fw-bold">Repeated stickers:</span>
      {{ totalRepeatedStickers }}
    </p>
  </div>
  <div class="mt-2">
    <a class="btn btn-success me-2" [routerLink]="['bulk-update-stickers', 'add']">
      Add many stickers
    </a>
    <a class="btn btn-danger" [routerLink]="['bulk-update-stickers', 'sub']">
      Substract many stickers
    </a>
  </div>
  <hr />

  <h2>Pending stickers</h2>
  <app-sticker-search-bar [type]="'PENDING'"></app-sticker-search-bar>
  <app-sticker-grid
    [stickers]="pendingStickers"
    [totalStickers]="totalPendingStickers"
    (onSeeMore)="seeMoreStickers('PENDING')"
  >
  </app-sticker-grid>

  <hr />

  <h2>Provided stickers</h2>
  <app-sticker-search-bar [type]="'PROVIDED'"></app-sticker-search-bar>
  <app-sticker-grid
    [stickers]="providedStickers"
    [totalStickers]="totalProvidedStickers"
    (onSeeMore)="seeMoreStickers('PROVIDED')"
  >
  </app-sticker-grid>

  <hr />

  <h2>Repeated stickers</h2>
  <app-sticker-search-bar [type]="'REPEATED'"></app-sticker-search-bar>
  <app-sticker-grid
    [stickers]="repeatedStickers"
    [totalStickers]="totalRepeatedStickers"
    (onSeeMore)="seeMoreStickers('REPEATED')"
  >
  </app-sticker-grid>
</section>
