<h1>{{ title }}</h1>
<form [formGroup]="updateForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-12">
      <mat-label>{{ formLabel }}</mat-label>
      <ng-multiselect-dropdown
        placeholder="Select stickers"
        [settings]="dropdownSettings"
        [data]="stickerOptions"
        formControlName="ids"
      ></ng-multiselect-dropdown>
    </div>
    <div class="col-12 mt-2">
      <button type="submit" [class]="sendButtonClass">
        {{ sendButtonLabel }}
      </button>
    </div>
  </div>
  <div class="mt-3">
    <a mat-raised-button color="primary" (click)="navigateToDashboard()"
      >Go to dashboard</a
    >
  </div>
</form>
