<h1>{{ title }}</h1>
<form [formGroup]="updateForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-12">
      <mat-label>{{ formLabel }}</mat-label>
      <ng-multiselect-dropdown
        placeholder="Select stickers"
        [settings]="dropdownSettings"
        [data]="stickerOptions"
        formControlName="ids"
      ></ng-multiselect-dropdown>
    </div>
    <div class="col-12 mt-2">
      <button type="submit" mat-raised-button color="primary">
        {{ sendButtonLabel }}
      </button>
    </div>
  </div>
</form>
